snippet function
def ${1:function_name}(${2}):
	${3}
endsnippet

snippet main
if __name__ == '__main__':
	${1:init()}
	try:
		${2:main()}
	except  ${3:Exception} as e:
		print(e)
endsnippet

snippet date
`date +%Y-%m-%d`
endsnippet

snippet time
`date +%H:%M`
endsnippet

snippet dateTime
`date +%Y-%m-%d-%H:%M`
endsnippet

